.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.*.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
src/**
node_modules/**
.gitignore
.mypy_cache
webviews-ui/**
vite.config.ts
zip/**
examples/**
**/*.vsix
out/**/*copy.js
jupytext.md
test/**
tests/**
demo/**
out/test/**
out-test/**
scripts/**
readme-dev.md
